<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back"></ion-icon>
    </div>

    <div id="logo">
      <img src="assets/buinzoo.png" alt="logo">
    </div>

    <h2>APP ICON</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Bienvenido a ZooLife</h1>
      <p>Redescubre el zoológico de Buin Zoo</p>
      <ion-button expand="block" class="ion-margin-bottom">Inicia sesión</ion-button>
      <ion-button expand="block" fill="outline">Regístrate</ion-button>

      <div class="line-text">
        <div class="lines"></div>
        <div class="text">O conéctate usando</div>
      </div>

      <div class="socials">
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="btn-ph">
          <ion-icon name="call"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>


<!-- https://www.youtube.com/watch?v=QfrZyFavZK4 -->
<!-- https://www.youtube.com/watch?v=-y0GyLT7QuY -->
